<IfModule mod_rewrite.c>
  Options -MultiViews -Indexes
  RewriteEngine On

  # Redirect all requests into public/
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteRule ^(.*)$ public/$1 [L]

  # Handle front controller
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ public/index.php [L]
</IfModule>
